<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<style>
.qr-code-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.body-content{
    width: 100%;
    padding: 40px;
}

</style>
<body>
{% block body %}{% endblock %}
<div class="body-content">


<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Choose a location</label>
    </div>
    <select class="select-location custom-select" id="inputGroupSelect01">
        {% for location in locations %}
            <option value="{{ location.id }}">{{ location.description }}</option>
        {% endfor %}
    </select>
</div>
</div>

<div class="qr-code-content">

</div>
{% block javascripts %}{% endblock %}
</body>
<script>
    var _el = $( ".qr-code-content" );

    $('.select-location').change(function () {
        $.ajax({
            url: "/getQRcode",
            data: {
                id: $('.select-location').val()
            },
            method: "post",
            error: function (data) {
            },
            success: function (data) {
                _el.empty();
                _el.append(data);
            }
        });
    })

</script>
</html>

